<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="btn btn-danger d-lg-none">Log out</button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="row w-100 justify-content-end">
        <div class="col-auto">
          <a href="/logout" class="btn btn danger">
            Logout
          </a>
         
        </div>
      </div>
    </div>
  </div>
</nav>
